# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**

+ Markdown Cells
+ Data Science Tools
+ Data Science Languages
+ Jupyter notebook

Some of the popular languages that data scientists use are:

1. Python
2. R
3. SQL
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Tensorflow
2. NumPy
3. Pandas

| Data Science Tools |
| ------------------ |
| Apache Hadoop      |
| Tensorflow         |
| Tableau            |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Mubeen Farooqui